@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Identity.Pages.Account.Manage.Subscriptions.IndexModel
@using System.Text.Json
@{
    ViewData["Title"] = "Subscription management";
    ViewData["ActivePage"] = ManageNavPages.SubscriptionManagement;
    var subscriptionsI18n = new Dictionary<string, object>
    {
        ["details"] = Localizer["Details"].Value,
        ["statuses"] = new Dictionary<string, string>
        {
            ["Inactive"] = IdentitySharedLocalizer["Inactive"].Value,
            ["Active"] = IdentitySharedLocalizer["Active"].Value,
        },
        ["frequencies"] = new Dictionary<string, string>
        {
            ["_1D"] = IdentitySharedLocalizer["_1D"].Value,
            ["_1W"] = IdentitySharedLocalizer["_1W"].Value,
            ["_2W"] = IdentitySharedLocalizer["_2W"].Value,
            ["_1M"] = IdentitySharedLocalizer["_1M"].Value,
            ["_2M"] = IdentitySharedLocalizer["_2M"].Value,
            ["_3M"] = IdentitySharedLocalizer["_3M"].Value,
            ["_4M"] = IdentitySharedLocalizer["_4M"].Value,
            ["_6M"] = IdentitySharedLocalizer["_6M"].Value,
            ["_1Y"] = IdentitySharedLocalizer["_1Y"].Value,
            ["_2Y"] = IdentitySharedLocalizer["_2Y"].Value,
            ["_3Y"] = IdentitySharedLocalizer["_3Y"].Value,
        },
    };
}

<h1>@Localizer["Title"]</h1>

@section Css {
<environment include="Development">
    <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.min.css" rel="stylesheet" />
</environment>
}

<div class="container">
    <br />

    <script type="application/json" id="subscriptions-i18n">@Html.Raw(JsonSerializer.Serialize(subscriptionsI18n))</script>

    <table id="subscriptions" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0"
           data-culture="@System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToUpperInvariant()">
        <thead>
            <tr>
                <th>#</th>
                <th>@Localizer["Created"]</th>
                <th>@Localizer["ExpirationTime"]</th>
                <th>@Localizer["StartTime"]</th>
                <th>@Localizer["SubscriptionType"]</th>
                <th>@Localizer["Status"]</th>
                <th>@Localizer["Frequency"]</th>
                <th>@Localizer["DonationAmount"]</th>
                <th>@Localizer["PaymentStatus"]</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
