<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Alimente esta ideia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Alimente Esta Ideia" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel='stylesheet' href='@Url.Content("~/css/pagamento.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/css/custom.css")' type='text/css' media='all' />
    <link rel='stylesheet' href='@Url.Content("~/css/language.css")' type='text/css' media='all' />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-glyphicons/css/bootstrap-glyphicons.css"  />   

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MQ2GKXX');</script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '553983925045985'); //Criado por Brandkey !?
        fbq('init', '508607333446877'); //criado por Tiago 2020.12.14 na conta do Facebook Business do Banco Alimentar
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=553983925045985&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <mini-profiler />
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MQ2GKXX"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Alimenta esta ideia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Donation">Donation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div class="language desktopOnly">
                        <!-- language menu start -->
                        @await Html.PartialAsync("_SelectLanguagePartial")
                        <!-- language menu end -->
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

        <div class="stage2">
            <div class="textFoot1"><p><strong>@Localizer["AlimenteEstaIdeia"]</strong></p><p>© 2020</p></div>
            <div class="textFoot2">
                <p><a href="mailto:ba.federacao@bancoalimentar.pt" title="@Localizer["ContacteNos"]">@Localizer["ContacteNos"]</a></p><p><a target="_blank" href="https://www.bancoalimentar.pt/politica-de-privacidade-e-protecao-de-dados/" title="@Localizer["PoliticaDePrivacidade"]">@Localizer["PoliticaDePrivacidade"]</a></p><p><a href="https://www.bancoalimentar.pt">Site</a></p><p><a href="https://www.facebook.com/bancoalimentar">Facebook</a></p>
            </div>
            <div class="textFoot3">
                <p style="float:right" class="desktopOnly"><img src="@Url.Content("~/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>
                <p><strong>Federação Portuguesa dos Bancos Alimentares Contra a Fome</strong></p>
                <p>Estação CP Alcântara Terra, Arz 1, Av. de Ceuta</p>
                <p>Desenvolvido por <a href="https://linkconsulting.com">Link Consulting</a> com apoio da <a href="https://microsoft.pt">Microsoft Portugal</a></p>
                <p class="mobileOnly"><img src="@Url.Content("~/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>

            </div>
            <div class="clearSimple"></div>
        </div>
        <div class="clearSimple"></div>

    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>    
    <environment include="Development">
        <script src="~/lib/jquery-validation/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validation/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                crossorigin="anonymous"
                integrity="sha384-rZfj/ogBloos6wzLGpPkkOr/gpkBNLZ6b6yLy4o+ok+t/SAKlL5mvXLr0OXNi1Hp">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha384-ifv0TYDWxBHzvAk2Z0n8R434FL1Rlv/Av18DXE43N/1rvHyOG4izKst0f2iSLdds">
        </script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    <script src="@Url.Content("~/js/pagamento.js")"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36304502-1']);
        _gaq.push(['_setDomainName', 'alimentestaideia.pt']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>
