@{
    ViewBag.Title = "Index";
}

<ul>
    <li>@Html.ActionLink("Listar todos os doadores", "GetAllDonors")</li>
    <li>@Html.ActionLink("Listar totais por Banco Alimentar", "GetTotalDonationValue")</li>
    <li>@Html.ActionLink("Listar quantidades por produto", "GetQuantitiesByProduct")</li>
    <li>@Html.ActionLink("Listar quantidades por Banco Alimentar e Produto", "GetQuantitiesByFoodBankAndProduct")</li>
    <li>@Html.ActionLink("Listar quantidades por doador", "GetQuantitiesByDonor")</li>
    <li>@Html.ActionLink("Carregar Ficheiro SIBS (MEPS)", "ValidateFile")</li>
</ul>