@using BancoAlimentar.AlimentaEstaIdeia.Web.Features;
@inject SignInManager<WebUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index">@IdentitySharedLocalizer["Profile"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.DonationHistoryNavClass(ViewContext)" id="donation-history" asp-area="Identity" asp-page="/Account/Manage/DonationHistory">@IdentitySharedLocalizer["DonationHistory"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.SubscriptionManagementNavClass(ViewContext)" id="subscription-management" asp-area="Identity" asp-page="/Account/Manage/Subscriptions/Index">@IdentitySharedLocalizer["Subscriptions"]</a></li>
    <feature name=@nameof(DevelopingFeatureFlags.ReferralCampaignManagement)>
        <li class="nav-item"><a class="nav-link @ManageNavPages.CampaignsHistoryNavClass(ViewContext)" id="compaigns-history" asp-area="Identity" asp-page="/Account/Manage/CampaignsHistory">@IdentitySharedLocalizer["CampaignsHistory"]</a></li>
    </feature>

    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-area="Identity" asp-page="/Account/Manage/Email">@IdentitySharedLocalizer["Email"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">@IdentitySharedLocalizer["Password"]</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">@IdentitySharedLocalizer["ExternalLogins"]</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-area="Identity" asp-page="/Account/Manage/TwoFactorAuthentication">@IdentitySharedLocalizer["2FA"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-area="Identity" asp-page="/Account/Manage/PersonalData">@IdentitySharedLocalizer["PersonalData"]</a></li>

</ul>
