@page
@model CampaignsHistoryModel

<div class="container">
    <div class="row">
        <span class="col">
            <h3>@Localizer["AvailableCampaignsTitle"]</h3>
        </span>
        <span class="col text-right">
            <a href="#create_section" class="btn btn-outline-primary">+</a>
        </span>
    </div>
    <hr class="my-4" />
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @if (Model.Referrals?.Count > 0)
        {    
            @foreach (var item in Model.Referrals)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-header-title">@HttpUtility.UrlDecode(item.Code)</h4>
                        </div>
                        <div class="card-body text-center">
                            <span class="card-subtitle mb-0">@Localizer["TotalDonated"]</span>
                            <h2 class="h3 text-primary">€ @Math.Round(item.Donations.Where(d => d.PaymentStatus == PaymentStatus.Payed).Sum(d => d.DonationAmount),2) EUR</h2>
                            <a href='@Url.Content($"~/Referral/{item.Code}")' class="card-link">@Request.Scheme://@Request.Host.Value@Url.Content($"~/Referral/{item.Code}")</a>
                        </div>
                        <div class="card-footer d-flex justify-content-end align-items-center">
                            <a href='@Url.Page("/Account/Manage/CampaignDetail", new { id = item.Id, area = "Identity"})' class="btn btn-primary">@Localizer["CampaignDetails"]</a>
                        </div>
                    </div>
                    <br />
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                @Localizer["EmptyCampaignsAlert"]
            </div>
        }
    </div>
    <hr class="my-4" />
    <form id="create_section" method="post" asp-page="CampaignsHistory">
        <div class="row form-group">
            <h4 class="card-header-title">
                @Localizer["NewCampaignTitle"]
            </h4>
            <ul>
                <li>@Localizer["IntroMessage1"]</li>
                <li>@Localizer["IntroMessage2"]</li>
                <li>@Localizer["IntroMessage3"]</li> 
            </ul>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" for="Code">@Localizer["CampaingnCode"]</span>
                <input type="text" class="form-control" name="code" id="Code" placeholder='@Localizer["CampaignCodeDescription"]' aria-label='@Localizer["CampaingnCode"]' />
                <button class="btn btn-primary" type="submit" id="code">@Localizer["CreateCampaignActionText"] <i class="tio-ok"></i></button>
            </div>
             <br /><span asp-validation-for="Code" class="text-danger"></span>
            

        </div>
        @if (Model.ActiveCampaignExists)
        {
            <div class="align-items-center text-danger">
                @Localizer["CampaignAlreadyExists"]
            </div> 
        }
    </form>
</div>