@page
@model CampaigDetailModel
@inject IHtmlLocalizer<CampaigDetailModel> CompaignLocalizer
@{ }

<div class="container">

    <div class="card mb-3 mb-lg-5">
        <div class="card-header">
            <h4 class="card-header-title">@HttpUtility.UrlDecode(Model.Referral.Code)</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md mb-3 mb-md-0">
                    <div class="mb-4">
                        <span class="card-subtitle mb-0">@Localizer["NumberOfDonations"]</span>
                        <h3>@Model.ValidDonations.Count()</h3>
                    </div>

                    <span class="card-subtitle mb-0">@Localizer["TotalDonated"]</span>
                    <h2 class="h1 text-success">€ @Math.Round(Model.ValidDonations.Sum(x => x.DonationAmount),2) EUR</h2>
                    <hr class="my-2" />
                    <span class="card-subtitle mb-0">@Localizer["Link"]</span>
                    <a href="@Url.Content($"~/Referral/{Model.Referral.Code}")" class="card-link">@Request.Scheme://@Request.Host.Value@Url.Content($"~/Referral/{Model.Referral.Code}")</a>
                </div>
            </div>
        </div>

        <hr class="my-4">
        <div class="card-body">
            <ul class="as-admin-basket">
                @foreach (var item in Model.ValidDonations.SelectMany(x => x.DonationItems).GroupBy(x => x.ProductCatalogue))
                {
                    var total = item.Sum(i => i.Quantity) * item.FirstOrDefault().ProductCatalogue.Quantity;
                    <li class="as-li-@item.FirstOrDefault().ProductCatalogue.IconUrl.Replace(".png","")">
                        <span>@item.FirstOrDefault().ProductCatalogue.Name</span>
                        <span>@total @item.FirstOrDefault().ProductCatalogue.UnitOfMeasure</span>
                    </li>
                }
            </ul>

        </div>
    </div>

    <hr class="my-4">

    @foreach (var item in Model.ValidDonations)
    {
        <div class="card-deck">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title text-primary">€ @item.DonationAmount EUR</h5>
                    <p class="card-text">@Localizer["DonatedAt"]: @item.DonationDate</p>
                    <p class="card-text">@Localizer["PaymentStatus"]: @item.PaymentStatus</p>
                </div>
            </div>
        </div>}
</div>

