@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = @Localizer["PageTitle"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["With2FA_NoRecoveryCodesLeft"]</strong>
            <p>@Localizer["With2FA_NoRecoveryCodesLeftDescriptionPart1"] <a asp-page="./GenerateRecoveryCodes">@Localizer["With2FA_NoRecoveryCodesLeftDescriptionPart2"]</a> before you can log in with a recovery code.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["With2FA_OneRecoveryCodeLeft"]</strong>
            <p>@Localizer["With2FA_OneRecoveryCodeLeftPart1"] <a asp-page="./GenerateRecoveryCodes">@Localizer["With2FA_OneRecoveryCodeLeftPart2"]</a>@Localizer["With2FA_OneRecoveryCodeLeftPart3"]</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@Localizer["With2FA_RecoveryCodesLeftPart1"] @Model.RecoveryCodesLeft @Localizer["With2FA_RecoveryCodesLeftPart2"].</strong>
            <p>@Localizer["With2FA_RecoveryCodesLeftPart3"] <a asp-page="./GenerateRecoveryCodes">@Localizer["With2FA_RecoveryCodesLeftPart4"]</a>@Localizer["With2FA_RecoveryCodesLeftPart5"]</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">@Localizer["With2FA_IsMachineRemembered"]</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">@Localizer["With2FA_Disable2FA"]</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">@Localizer["With2FA_ResetRecoveryCodes"]</a>
}

<h5>@Localizer["PageSubTitle"]</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">@Localizer["Without2FA_AddAuthenticator"]</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">@Localizer["Without2FA_SetupAuthenticator"]</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">@Localizer["Without2FA_ResetAuthenticator"]</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}