@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Identity.Pages.Account.Manage.DonationHistoryModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date time</th>
            <th scope="col">FoodBank</th>
            <th scope="col">Amount</th>
            <th scope="col">Invoice</th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1; }
        @foreach (var item in Model.Donations)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.DonationDate</td>
                <td>@item.FoodBank.Name</td>
                <td>@item.ServiceAmount €</td>
                <td>

                    <a class="btn btn-primary" asp-page="./Invoice" asp-route-id="@item.Id" target="_blank">
                        Invoice
                    </a>
                </td>
            </tr>
            { count++; }
        }
    </tbody>
</table>