@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Identity.Pages.Account.Manage.DonationHistoryModel
@{
}
@section Css {
    <environment include="Development">
        <link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
        <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.css" rel="stylesheet" />
        <link href="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.css" rel="stylesheet" />
        <link href="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.min.css" rel="stylesheet" />
    </environment>
}

<div class="container">
    <br />

    <table id="donationHistory" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>#</th>
                <th>@Localizer["DateTime"]</th>
                <th>@Localizer["FoodBank"]</th>
                <th>@Localizer["Amount"]</th>
                <th>@Localizer["PaymentType"]</th>
                <th>@Localizer["PaymentStatus"]</th>
                <th>@Localizer["Invoice"]</th>
                <th>@Localizer["CompleteDonation"]</th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts {
    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
        <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
        <script src="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/datatables.net-buttons-bs4/buttons.bootstrap4.min.js"></script>
        <script src="~/lib/datatables.net-responsive-bs4/responsive.bootstrap4.min.js"></script>
    </environment>
    <script type="text/javascript">
        $(function () {
            $.ajax("DonationHistory?handler=DataTableData", { method: "get" })
                .then(function (data) {
                    $('#donationHistory').dataTable({
                        orderCellsTop: true,
                        autoWidth: true,
                        data: data,
                        columns: [
                            { "data": "Id" },
                            { "data": "DonationDate" },
                            { "data": "FoodBank" },
                            { "data": "DonationAmount", render: $.fn.dataTable.render.number( ',', '.', 2, '', ' €' )},
                            { "data": "PaymentType" },
                            { "data": "PaymentStatus" },
                            {
                                "data": "PublicId",
                                "render": function (data, type, row, meta) {
                                    if (row['PaymentStatus'] === "Payed") {
                                        return '<a class="btn btn-primary" target="_blank" href="/Identity/Account/Manage/GenerateInvoice?publicDonationId=' + data + '" >@Localizer["Invoice"]</a>';
                                    }
                                    else {
                                        return '';
                                    }
                                }
                            },
                            {
                                "data": "DonationId",
                                "render": function (data, type, row, meta) {
                                    if (row['PaymentStatus'] !== "Payed") {
                                        return '<a class="btn btn-primary" target="_blank" href="/Payment?publicDonationId=' + row['PublicId'] + '" >@Localizer["CompleteDonation"]</a>';
                                    }
                                    else {
                                        return '';
                                    }
                                }
                            },
                        ]
                    });
                });
        });
    </script>
}