@page
@using Microsoft.AspNetCore.Components
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Identity.Pages.Account.Manage.InvoiceModel
@{
    Layout = "_LayoutInvoice";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Alimente esta ideia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Alimente Esta Ideia" />
</head>
<body style="margin:50px">
    <img src="/images/invoice_header.png" />
    <div>@Localizer["Line1"]</div>
    <br />
    <div>@Localizer["Line2"]</div>
    <br />
    <div>@Localizer["Line3"]</div>
    <br />
    <div>@Localizer["Line4"]</div>
    <br />
    <div>@Localizer["Line5"]</div>
    <br />
    <div style="text-align:center">@Localizer["Line6"]</div>
    <br />
    <div style="text-align:right">@Model.Invoice.Number</div>
    <br />
    <div>
        @Html.Raw(string.Format(
        this.Localizer["InvoiceMessage"].Value,
        Model.Invoice.User.FullName,
        Model.Invoice.User.Nif,
        Model.Invoice.Donation.DonationAmount,
        Model.DonationAmountToText))
    </div>
    <br />
    <div>@string.Format(Localizer["InvoiceEnd"].Value, System.DateTime.Now.ToLongDateString())</div>
    <div style="text-align:right">
        <img src="/images/invoice_signature.png" />
        <br />
        @Localizer["Signature"].Value
    </div>

    <br />
    <div style="font-size:10px">
        @Localizer["InvoiceFooter"].Value
    </div>



</body>
</html>