@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="mobileMargin">
    @if ((bool)ViewData["HasReference"])
    {
        <script type="text/javascript">
            $(document).ready(function () {
                fbq('track', 'Donate');
            });
        </script>

        <!-- start payment module -->
        <div class="modal" style="display:block" id="donation-data">
            <div class="stage4">
                <div class="stage4white">
                    <div class="">
                        <span class="close"><img src="@Url.Content("~/img/X.png")" alt="Fechar" /></span>
                        <span class="text5">
                            @if (!(bool)ViewData["IsMultibanco"])
                            {
                                @Localizer["EscolhaOSeuMeioDePagamento"];
                            }
                        </span>
                        <div class="clearSimple"></div>
                    </div>
                </div>
                @if (!(bool)ViewData["IsMultibanco"])
                {
                    <div class="stage4blue">
                        <div class="table2 tablePagamento">
                            <div class="half1 half1pagamento" id="pagamentomb">
                                <div class="half1">
                                    <input type="radio" id="pagamentomb" name="tipo">
                                    <label for="pagamentomb"><span class="labelTitle">@Localizer["Multibanco"]</span><br /><img class="desktopOnly" src="@Url.Content("~/img/pagamentomb.png")" /></label>
                                </div>
                            </div>
                            <div class="half2 half2pagamento" id="pagamentounicre">
                                <div class="half2">
                                    <input type="radio" id="pagamentounicre" name="tipo">
                                    <label for="pagamentounicre"><span class="labelTitle">@Localizer["CartaoDeCredito"]</span><br /><img class="desktopOnly" src="@Url.Content("~/img/pagamentovisa.png")" /></label>
                                </div>
                            </div>
                            <div class="clearSimple"></div>
                        </div>
                    </div>
                    <div class="stage4blue">
                        <div class="table2 tablePagamento">
                            <div class="half1 half1pagamento" id="pagamentopaypal">
                                <div class="half1">
                                    <input type="radio" id="pagamentopaypal" name="tipo">
                                    <label for="pagamentopaypal"><span class="labelTitle">@Localizer["PayPal"]</span><br /><img class="desktopOnly" src="@Url.Content("~/img/pagamentopaypal.png")" /></label>
                                </div>
                            </div>
                            <div class="clearSimple"></div>
                        </div>
                    </div>
                }
                <div class="stage4white normalForm formPagamento">
                    @if ((bool)ViewData["IsMultibanco"])
                    {
                        <span class="text5 smallerText5">@Localizer["FacaASuaDoacaoUsandoAReferenciaMultibancoAbaixo"]<br />* @Localizer["EstaReferenciaTambemFoiEnviadaParaOSeuEmail"]</span>
                        <div class="clearSimple" style="height:40px;"></div>
                        <div class="half1 sideBySide">
                            @Localizer["Entidade"]:<br />@Localizer["Referencia"]:<br />@Localizer["Valor"]:<br />
                        </div>
                        <div class="half2 sideBySide">@ViewBag.ServiceEntity<br />@ViewBag.ServiceReference<br />@ViewBag.ServiceAmount €</div>
                        <div class="clearSimple" style="height:40px;"></div>
                    }
                    else
                    {
                        <div class="table2 pay0">
                            <span class="text5 smallerText5">@Localizer["FacaASuaDoacaoDeFormaSegura"]</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay1">
                            @using (Html.BeginForm("PayWithMultibanco", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="serviceEntity" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceEntity)" />
                                <input type="hidden" name="serviceReference" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceReference)" />
                                <input type="hidden" name="serviceAmount" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceAmount)" />
                                <span class="text3" onclick="$(this).parent().submit();">
                                    <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                                    <span>@Localizer["PagarMultibanco"]</span>
                                </span>
                            }
                            <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay2">
                            <span class="text5">@Localizer["AgoraTambemJaPodePagarUsandoOSeuCartaoDeCredito"]</span>
                            <div class="clearSimple height40 size10"></div>
                            @using (Html.BeginForm("PayWithUnicre", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="serviceReference" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Identity.WebUser)ViewBag.DonationEntity[0]).Nif)|@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceReference)" />
                                <input type="hidden" name="serviceAmount" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceAmount)" />
                                <span class="text3" onclick="$(this).parent().submit();">
                                    <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                                    <span>@Localizer["PagarRedUnicre"]</span>
                                </span>
                            }
                            <div class="clearSimple height70 borderMe size11"></div>
                            <img class="thirdImage" src="@Url.Content("~/img/logo2.png")" />
                            <img class="thirdImage" src="@Url.Content("~/img/logo1.png")" />
                            <img class="thirdImage" src="@Url.Content("~/img/logo3.png")" />
                            <div class="clearSimple borderMe"></div>
                            <div class="clearSimple height0"></div>
                            <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay3">
                            <span class="text5">@Localizer["AgoraTambemJaPodePagarUsandoPayPal"]</span>
                            <div class="clearSimple height40 size10"></div>
                            @using (Html.BeginForm("PayWithPayPal", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="serviceReference" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Identity.WebUser)ViewBag.DonationEntity[0]).Nif)|@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceReference)" />
                                <input type="hidden" name="serviceAmount" value="@(((BancoAlimentar.AlimentaEstaIdeia.Model.Donation)ViewBag.DonationEntity[0]).ServiceAmount)" />
                                <span class="text3" onclick="$(this).parent().submit();">
                                    <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                                    <span>@Localizer["PagarPayPal"]</span>
                                </span>
                            }
                            <div class="clearSimple height70 borderMe size11"></div>
                            <div class="clearSimple height0"></div>
                            <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay4">

                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- end payment module -->
    }

    

    <div class="language mobileOnly">

        <!-- language menu start -->
        <div class="languageSelector">
            <span class="activeLanguage">@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToUpper()</span>
            <span class="arrowDown"></span>
            <span class="arrowListing">
                <span class="line"></span>
                <a href="@Url.Action("ChangeCulture", new { lang = "pt", returnUrl = HttpContext.Request.GetRequestOriginalRawUri() })">PT</a>
                <a href="@Url.Action("ChangeCulture", new { lang = "en", returnUrl = HttpContext.Request.GetRequestOriginalRawUri() })">EN</a>
                <a href="@Url.Action("ChangeCulture", new { lang = "es", returnUrl = HttpContext.Request.GetRequestOriginalRawUri() })">ES</a>
                <a href="@Url.Action("ChangeCulture", new { lang = "fr", returnUrl = HttpContext.Request.GetRequestOriginalRawUri() })">FR</a>
            </span>
        </div>
        <!-- language menu end -->

    </div>


    <div class="stage">
        <div class="column1">
            <span class="text1">Alimente<br />esta ideia</span>
            <span class="text2">@Localizer["ASuaContribuicaoFazTodaADiferencaAjudeQuemMaisPrecisa"]</span>
            <span class="text3" id="donation-button"><img src="@Url.Content("~/img/doar-coracao.png")" alt="@Localizer["Doar"]" /><span>@Localizer["Doar"]</span></span>
        </div>

        <img class="mobileOnly imageComida" src="@Url.Content("~/img/comida.png")" alt="@Localizer["Comida"]" />

        <div class="column2">

        </div>
        <div class="column3">

            <div class="language desktopOnly">
                <!-- language menu start -->
                @await Html.PartialAsync("_SelectLanguagePartial")
                <!-- language menu end -->
            </div>
            <div class="clear"></div>

            <p class="text4">@Localizer["AlimentosJaDoados"]</p>
            <div class="table">
                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/img/azeite.png")" alt="@Localizer["Azeite"]" alt="@Localizer["Azeite"]" /></span>@Localizer["Azeite"]</div>
                <div class="rightColumn">@Model.TotalDonations[0].Total.ToString("00000")<small>@Model.ProductCatalogue[0].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/img/oleo.png")" alt="@Localizer["Oleo"]" alt="@Localizer["Oleo"]" /></span>@Localizer["Oleo"]</div>
                <div class="rightColumn">@Model.TotalDonations[1].Total.ToString("00000")<small>@Model.ProductCatalogue[1].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/img/leite.png")" alt="@Localizer["Leite"]" /></span>@Localizer["Leite"]</div>
                <div class="rightColumn">@Model.TotalDonations[2].Total.ToString("00000")<small>@Model.ProductCatalogue[2].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/img/atum.png")" alt="@Localizer["Atum"]" alt="@Localizer["Atum"]" /></span>@Localizer["Atum"]</div>
                <div class="rightColumn">@Model.TotalDonations[3].Total.ToString("00000")<small>@Model.ProductCatalogue[3].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/img/salsichas.png")" alt="@Localizer["Salsichas"]" /></span>@Localizer["Salsichas"]</div>
                <div class="rightColumn">@Model.TotalDonations[4].Total.ToString("00000")<small>@Model.ProductCatalogue[4].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/img/acucar.png")" alt="@Localizer["Açucar"]" /></span>@Localizer["Açucar"]</div>
                <div class="rightColumn">@Model.TotalDonations[5].Total.ToString("00000")<small>@Model.ProductCatalogue[5].UnitOfMeasure</small></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="stage2">
        <div class="textFoot1"><p><strong>@Localizer["AlimenteEstaIdeia"]</strong></p><p>© 2020</p></div>
        <div class="textFoot2">
            <p><a href="mailto:ba.federacao@bancoalimentar.pt" title="@Localizer["ContacteNos"]">@Localizer["ContacteNos"]</a></p><p><a target="_blank" href="https://www.bancoalimentar.pt/politica-de-privacidade-e-protecao-de-dados/" title="@Localizer["PoliticaDePrivacidade"]">@Localizer["PoliticaDePrivacidade"]</a></p><p><a href="https://www.bancoalimentar.pt">Site</a></p><p><a href="https://www.facebook.com/bancoalimentar">Facebook</a></p>
        </div>
        <div class="textFoot3">
            <p style="float:right" class="desktopOnly"><img src="@Url.Content("~/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>
            <p><strong>Federação Portuguesa dos Bancos Alimentares Contra a Fome</strong></p>
            <p>Estação CP Alcântara Terra, Arz 1, Av. de Ceuta</p>
            <p>Desenvolvido por <a href="https://linkconsulting.com">Link Consulting</a> com apoio da <a href="https://microsoft.pt">Microsoft Portugal</a></p>
            <p class="mobileOnly"><img src="@Url.Content("~/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>

        </div>
        <div class="clearSimple"></div>
    </div>
    <div class="clearSimple"></div>
</div>
<div class="clearSimple"></div>
@if (!ViewData.ModelState.IsValid)
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#donation-data').show();

            var products = $('#DonatedItems').val().split(';');
            for (var i = 0; i < products.length; i++) {
                var p = products[i].split(':');

                var thisQuantity = parseFloat(p[1] * $('#field' + p[0]).attr('data-quantity'));
                var thisValue = parseFloat(p[1] * $('#field' + p[0]).attr('data-value'));

                $('#update' + p[0]).text(thisQuantity);
                $('#field' + p[0]).val(p[1]);

                if (p[1] > 0) {
                    var total = parseFloat($('#Amount').val());
                    var newTotal = total + thisValue;
                    $('.text8').html(formatCoin(newTotal));
                    $('#Amount').val(newTotal);

                    $('#field' + p[0]).addClass('positive');
                }
            }

            @if ("true".Equals(ViewData.ModelState["WantsReceipt"].AttemptedValue))
            {
                <text>
            $('#WantsReceiptCheckBox').click();
            $('#Address').val('@ViewData.ModelState["Address"].AttemptedValue');
            $('#PostalCode').val('@ViewData.ModelState["PostalCode"].AttemptedValue');
            $('#Nif').val('@ViewData.ModelState["Nif"].AttemptedValue');
            </text>
            }
        });
    </script>
}