@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Pages.ThanksModel
@{
}


<div>@Localizer["ThanksMessage"] </div>

@if (Model.CurrentUser != null)
{

<div>
    @Localizer["InvoiceNotice"]
    <br />
    <a asp-area="Identity" asp-page="/Account/Manage/Index">@Localizer["AddressUpdate"]</a>
    <br />
    @Localizer["ClaimInvoice"] <a asp-area="Identity" asp-page="/Account/Manage/Invoice" asp-route-id="@Model.DonationId">here.</a>
</div>

    <div>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@Model.TwittMessage" data-size="large" data-url="https://www.alimentestaideia.pt/">Tweet this!</a>
        
    </div>
        
}

@section Scripts {
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}