@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.Campaigns.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.ReportEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.ReportEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.IsDefaultCampaign)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.IsDefaultCampaign)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Campaign.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
