@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.Campaigns.IndexModel

@{
    ViewData["Title"] = AdminSharedLocalizer["Index"].Value;
}

<h1>@AdminSharedLocalizer["Index"]</h1>

<p>
    <a asp-page="Create">@AdminSharedLocalizer["CreateNew"]</a>
</p>
<p>
    <a asp-page="./Show">@AdminSharedLocalizer["ShowCurrentCampaign"]</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @AdminSharedLocalizer["Number"]
            </th>
            <th>
                @AdminSharedLocalizer["Start"]
            </th>
            <th>
                @AdminSharedLocalizer["End"]
            </th>
            <th>
                @AdminSharedLocalizer["ReportEnd"]
            </th>
            <th>
                @AdminSharedLocalizer["IsDefaultCampaign"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Campaign)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDefaultCampaign)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">@AdminSharedLocalizer["Edit"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">@AdminSharedLocalizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">@AdminSharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
