@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.Campaigns.ShowModel
@{
}
<h1>Current campaign</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.CurrentCampaign.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.CurrentCampaign.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.CurrentCampaign.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.CurrentCampaign.End)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.CurrentCampaign.ReportEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.CurrentCampaign.ReportEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.CurrentCampaign.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.CurrentCampaign.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.CurrentDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.CurrentDateTime)
        </dd>
    </dl>
</div>