@page
@model ForgotPasswordConfirmation
@{
  ViewData["Title"] = IdentitySharedLocalizer["ForgotPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-success" role="alert">
  @IdentitySharedLocalizer["ForgotPasswordConfirmationMessage"]
</div>

@if (Model.DisplayEmailNotConfirmedNote)
{
  <div class="alert alert-warning" role="alert">
    <h5 class="alert-heading">@IdentitySharedLocalizer["ForgotPasswordConfirmationNoteHeader"]</h5>
    <p>@IdentitySharedLocalizer["ForgotPasswordConfirmationNoteText"] <a asp-page="./ResendEmailConfirmation" class="alert-link">@IdentitySharedLocalizer["ForgotPasswordConfirmationNoteTextClickHere"]</a>.</p>
  </div>
}

