@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.CustomDonors.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Donation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.PublicId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.PublicId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.DonationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.DonationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.DonationAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.DonationAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.WantsReceipt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.WantsReceipt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.PaymentStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.ServiceEntity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.ServiceEntity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.ServiceReference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.ServiceReference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.Nif)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.Nif)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.IsCashDonation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.IsCashDonation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.CampaignName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.CampaignName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.TypeOfCustomDonation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.TypeOfCustomDonation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Donation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
