@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.ProductsCatalogues.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductCatalogue</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCatalogue.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCatalogue.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCatalogue.UnitOfMeasure)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.UnitOfMeasure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCatalogue.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCatalogue.IconUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.IconUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCatalogue.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductCatalogue.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
