@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.ProductsCatalogues.DetailsModel

@{
    ViewData["Title"] = AdminSharedLocalizer["Details"].Value;
}

<h1>@AdminSharedLocalizer["Details"]</h1>

<div>
    <h4>@AdminSharedLocalizer["ProductCatalogue"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @AdminSharedLocalizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Name)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["Description"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Description)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["UnitOfMeasure"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.UnitOfMeasure)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["Cost"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Cost)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["IconUrl"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.IconUrl)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["Quantity"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCatalogue.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductCatalogue.Id">@AdminSharedLocalizer["Edit"]</a> |
    <a asp-page="./Index">@AdminSharedLocalizer["BackToList"]</a>
</div>
