@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.ProductsCatalogues.IndexModel

@{
    ViewData["Title"] = AdminSharedLocalizer["Index"].Value;
}

<h1>@AdminSharedLocalizer["Index"]</h1>

<p>
    <a asp-page="Create">@AdminSharedLocalizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @AdminSharedLocalizer["Name"]
            </th>
            <th>
                @AdminSharedLocalizer["CampaignName"]
            </th>
            <th>
                @AdminSharedLocalizer["Description"]
            </th>
            <th>
                @AdminSharedLocalizer["UnitOfMeasure"]
            </th>
            <th>
                @AdminSharedLocalizer["Cost"]
            </th>
            <th>
                @AdminSharedLocalizer["IconUrl"]
            </th>
            <th>
                @AdminSharedLocalizer["Quantity"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductCatalogue) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IconUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">@AdminSharedLocalizer["Edit"]</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">@AdminSharedLocalizer["Details"]</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">@AdminSharedLocalizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
