@page
@using System.Globalization;
@using BancoAlimentar.AlimentaEstaIdeia.Web.HtmlHelpers;
@model BancoAlimentar.AlimentaEstaIdeia.Web.Pages.DonationModel
@inject IHtmlLocalizer<IndexModel> IndexLocalizer
@{
}

@section Css {
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        .valueMessage{
            text-align:center;color:white;padding-top:10px;
        }
    </style>
}

<div class="mobileMargin">
    <div id="donation-form">
        <form id="donationForm" method="post" asp-page="Donation">
            @Html.AntiForgeryToken()
            <div class="stage3white">
                <span class="text5">@Localizer["EscolhaOsBensQueQuerDoar"]</span>
                @if (Model.Referral != null)
                {
                    <span class="text3" style="width: 100%;text-align: center">@Model.Referral.Name</span>
                }
                <div id="donation_table" class="table2 donation-table">
                    <div class="boxed">
                        <div class="image"><img src="@Url.Content("~/img/azeite_b.png")" alt="@Localizer["Azeite"]" /></div>
                        <div class="text">@Localizer["Azeite"]</div>
                        <div class="input">
                            <input type="number"
                                   id="field1"
                                   name="azeite"
                                   class="@(Model.CurrentDonationFlow != null ? "positive" : "") donation-item"
                                   value="@(Model.CurrentDonationFlow != null ? DonationHelper.GetDonationItemByIndex(0, Model.CurrentDonationFlow).Quantity.ToString() : "0")"
                                   data-value="@Model.ProductCatalogue[0].Cost.ToString(new CultureInfo("en-us"))"
                                   data-quantity="@Model.ProductCatalogue[0].Quantity"
                                   data-dbid="@Model.ProductCatalogue[0].Id"
                                   data-target="update1" />
                            <span class="more"></span>
                            <span class="less"></span>
                        </div>
                    </div>

                    <div class="boxed">
                        <div class="image"><img src="@Url.Content("~/img/oleo_b.png")" alt="@Localizer["Oleo"]" /></div>
                        <div class="text">@Localizer["Oleo"]</div>
                        <div class="input">
                            <input type="number"
                                   id="field2"
                                   name="oleo"
                                   class="@(Model.CurrentDonationFlow != null ? "positive" : "") donation-item"
                                   value="@(Model.CurrentDonationFlow != null ? DonationHelper.GetDonationItemByIndex(1, Model.CurrentDonationFlow).Quantity.ToString() : "0")"
                                   data-value="@Model.ProductCatalogue[1].Cost.ToString(new CultureInfo("en-us"))"
                                   data-quantity="@Model.ProductCatalogue[1].Quantity"
                                   data-dbid="@Model.ProductCatalogue[1].Id"
                                   data-target="update2" />
                            <span class="more"></span>
                            <span class="less"></span>
                        </div>
                    </div>

                    <div class="boxed">
                        <div class="image"><img src="@Url.Content("~/img/leite_b.png")" alt="@Localizer["Leite"]" /></div>
                        <div class="text">@Localizer["Leite"]</div>
                        <div class="input">
                            <input type="number"
                                   id="field3"
                                   name="leite"
                                   class="@(Model.CurrentDonationFlow != null ? "positive" : "") donation-item"
                                   value="@(Model.CurrentDonationFlow != null ? DonationHelper.GetDonationItemByIndex(2, Model.CurrentDonationFlow).Quantity.ToString() : "0")"
                                   data-value="@Model.ProductCatalogue[2].Cost.ToString(new CultureInfo("en-us"))"
                                   data-quantity="@Model.ProductCatalogue[2].Quantity"
                                   data-dbid="@Model.ProductCatalogue[2].Id"
                                   data-target="update3" />
                            <span class="more"></span>
                            <span class="less"></span>
                        </div>
                    </div>

                    <div class="boxed">
                        <div class="image"><img src="@Url.Content("~/img/atum_b.png")" alt="@Localizer["Atum"]" /></div>
                        <div class="text">@Localizer["Atum"]</div>
                        <div class="input">
                            <input type="number"
                                   id="field4"
                                   name="atum"
                                   class="@(Model.CurrentDonationFlow != null ? "positive" : "") donation-item"
                                   value="@(Model.CurrentDonationFlow != null ? DonationHelper.GetDonationItemByIndex(3, Model.CurrentDonationFlow).Quantity.ToString() : "0")"
                                   data-value="@Model.ProductCatalogue[3].Cost.ToString(new CultureInfo("en-us"))"
                                   data-quantity="@Model.ProductCatalogue[3].Quantity"
                                   data-dbid="@Model.ProductCatalogue[3].Id"
                                   data-target="update4" />
                            <span class="more"></span>
                            <span class="less"></span>
                        </div>
                    </div>

                    <div class="boxed">
                        <div class="image"><img src="@Url.Content("~/img/salsichas_b.png")" alt="@Localizer["Salsichas"]" /></div>
                        <div class="text">@Localizer["Salsichas"]</div>
                        <div class="input">
                            <input type="number"
                                   id="field5"
                                   name="salsichas"
                                   class="@(Model.CurrentDonationFlow != null ? "positive" : "") donation-item"
                                   value="@(Model.CurrentDonationFlow != null ? DonationHelper.GetDonationItemByIndex(4, Model.CurrentDonationFlow).Quantity.ToString() : "0")"
                                   data-value="@Model.ProductCatalogue[4].Cost.ToString(new CultureInfo("en-us"))"
                                   data-quantity="@Model.ProductCatalogue[4].Quantity"
                                   data-dbid="@Model.ProductCatalogue[4].Id"
                                   data-target="update5" />
                            <span class="more"></span>
                            <span class="less"></span>
                        </div>
                    </div>

                    <div class="boxed">
                        <div class="image"><img src="@Url.Content("~/img/acucar_b.png")" alt="@Localizer["Açucar"]" /></div>
                        <div class="text">@Localizer["Açucar"]</div>
                        <div class="input">
                            <input type="number"
                                   id="field6"
                                   name="acucar"
                                   class="@(Model.CurrentDonationFlow != null ? "positive" : "") donation-item"
                                   value="@(Model.CurrentDonationFlow != null ? DonationHelper.GetDonationItemByIndex(5, Model.CurrentDonationFlow).Quantity.ToString() : "0")"
                                   data-value="@Model.ProductCatalogue[5].Cost.ToString(new CultureInfo("en-us"))"
                                   data-quantity="@Model.ProductCatalogue[5].Quantity"
                                   data-dbid="@Model.ProductCatalogue[5].Id"
                                   data-target="update6" />
                            <span class="more"></span>
                            <span class="less"></span>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="stage3blue stepOne">
                <div class="half1 margin1 fixMobile101">
                    <img src="@Url.Content("~/img/basket.png")" alt="@Localizer["Cesto"]" />
                </div>
                <div class="half2 margin2 fixMobile101">
                    <span class="text7">@Localizer["Total"]</span>
                    <span id="total" contenteditable="true" class="text8">0.00 €</span>
                    <div class="clearSimple"></div>
                    <span class="text9">@Localizer["VerCabaz"]</span>
                </div>
                <div class="clearSimple"></div>
                <div class="valueMessage">@Localizer["IntroduzirValor"]</div>
            </div>
            <div class="stage3blue stepTwo">
                <span class="close2"><img src="@Url.Content("~/img/X-w.png")" alt="@Localizer["Fechar"]" /></span>
                <div class="half1 margin1">
                    <img src="@Url.Content("~/img/basket.png")" alt="@Localizer["Cesto"]" />
                </div>
                <div class="half2 margin2">
                    <span class="text7">@Localizer["DescricaoDoCabaz"]</span>
                    <div class="clear"></div>

                    <div class="half3">
                        <img src="@Url.Content("~/img/basket-li-azeite_w.png")" alt="@Localizer["Azeite"]" /><h2 id="update1" class="update1">0</h2> <span class="fixMe">@Model.ProductCatalogue[0].UnitOfMeasure</span>
                        <div class="clearSimple"></div>
                        <img src="@Url.Content("~/img/basket-li-oleo_w.png")" alt="@Url.Content("~/img/oleo_b.png")" alt="@Localizer["Oleo"]" /><h2 id="update2" class="update2">0</h2> <span class="fixMe">@Model.ProductCatalogue[1].UnitOfMeasure</span>
                        <div class="clearSimple"></div>
                        <img src="@Url.Content("~/img/basket-li-leite_w.png")" alt="@Localizer["Leite"]" /><h2 id="update3" class="update3">0</h2> <span class="fixMe">@Model.ProductCatalogue[2].UnitOfMeasure</span>
                        <div class="clearSimple"></div>
                    </div>
                    <div class="half4">
                        <img src="@Url.Content("~/img/basket-li-atum_w.png")" alt="@Localizer["Atum"]" /><h2 id="update4" class="update4">0</h2> <span class="fixMe">@Model.ProductCatalogue[3].UnitOfMeasure</span>
                        <div class="clearSimple"></div>
                        <img src="@Url.Content("~/img/basket-li-salsichas_w.png")" alt="@Localizer["Salsichas"]" /><h2 id="update5" class="update5">0</h2> <span class="fixMe">@Model.ProductCatalogue[4].UnitOfMeasure</span>
                        <div class="clearSimple"></div>
                        <img src="@Url.Content("~/img/basket-li-acucar_w.png")" alt="@Localizer["Açucar"]" /><h2 id="update6" class="update6">0</h2> <span class="fixMe">@Model.ProductCatalogue[5].UnitOfMeasure</span>
                        <div class="clearSimple"></div>
                    </div>


                </div>
                <div class="clearSimple"></div>
            </div>



            <div class="stage3white normalForm">
                <div class="table2">
                    <div class="clearSimple line0"></div>
                    <div class="half1 mobileMargin22" style="text-align:left;">
                        @Localizer["EscolhaOBancoAlimentarParaOQualQuerDoar"]
                    </div>
                    <div class="half2">
                        <select asp-for="FoodBankId" asp-items="@Model.FoodBankList" class="banco-alimentar">
                        </select>
                    </div>
                    <div class="clearSimple line0"></div>
                </div>
            </div>

            <div class="clearSimple"></div>

            <div class="stage3white normalForm">
                <div class="table2">
                    <span class="text6">@Localizer["PreenchaOsSeusDados"]</span>
                    <div class="clearSimple line1"></div>

                    <div class="half1 form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" autocomplete="off" value="@Model.IsCompany" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            @Localizer["Empresa"]
                        </label>
                    </div>
                    <div class="half2 form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" autocomplete="off" value="@Model.IsPrivate">
                        <label class="form-check-label" for="flexRadioDefault2">
                            @Localizer["Particular"]
                        </label>
                    </div>
                    <div class="clearSimple line2"></div>

                    <div class="half0" readonly>
                        @Localizer["Nome"]
                        <input asp-for="Name" placeholder="@Localizer["OSeuNome"].Value" data-value="false" />
                    </div>
                    <div class="half2">
                        @Localizer["Empresa"]
                        <input asp-for="CompanyName" placeholder="@Localizer["ASuaEmpresa"].Value" />
                    </div>
                    <div class="clearSimple line3"></div>
                    @Localizer["Email"]
                    <input asp-for="Email" placeholder="@Localizer["OSeuEmail"].Value" />
                    <div class="clearSimple line4"></div>

                    <div class="half0">
                        @Localizer["Pais"]
                        
                        <select asp-for="Country" class="banco-alimentar">
                            <option></option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Aland Islands">Aland Islands</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Antarctica">Antarctica</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Bouvet Island">Bouvet Island</option>
                            <option value="Brazil">Brazil</option>
                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="Cape Verde">Cape Verde</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Christmas Island">Christmas Island</option>
                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Congo">Congo</option>
                            <option value="Congo, Democratic Republic of the Congo">Congo, Democratic Republic of the Congo</option>
                            <option value="Cook Islands">Cook Islands</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote D'Ivoire">Cote D'Ivoire</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Curacao">Curacao</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                            <option value="Faroe Islands">Faroe Islands</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Guiana">French Guiana</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="French Southern Territories">French Southern Territories</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Gambia">Gambia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Gibraltar">Gibraltar</option>
                            <option value="Greece">Greece</option>
                            <option value="Greenland">Greenland</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guadeloupe">Guadeloupe</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guernsey">Guernsey</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Isle of Man">Isle of Man</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                            <option value="Korea, Republic of">Korea, Republic of</option>
                            <option value="Kosovo">Kosovo</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macao">Macao</option>
                            <option value="Macedonia, the Former Yugoslav Republic of">Macedonia, the Former Yugoslav Republic of</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Martinique">Martinique</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Montserrat">Montserrat</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Myanmar">Myanmar</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Niue">Niue</option>
                            <option value="Norfolk Island">Norfolk Island</option>
                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                            <option value="Norway">Norway</option>
                            <option value="Oman">Oman</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                            <option value="Panama">Panama</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Pitcairn">Pitcairn</option>
                            <option value="Poland">Poland</option>
                            @if (@Model.Country == null)
                            {
                                <option value="Portugal" selected>Portugal</option>
                            }
                            else
                            {
                                <option value="Portugal">Portugal</option>
                            }
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Reunion">Reunion</option>
                            <option value="Romania">Romania</option>
                            <option value="Russian Federation">Russian Federation</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Saint Barthelemy">Saint Barthelemy</option>
                            <option value="Saint Helena">Saint Helena</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Lucia">Saint Lucia</option>
                            <option value="Saint Martin">Saint Martin</option>
                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Sint Maarten">Sint Maarten</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="Solomon Islands">Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                            <option value="South Sudan">South Sudan</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                            <option value="Swaziland">Swaziland</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Timor-Leste">Timor-Leste</option>
                            <option value="Togo">Togo</option>
                            <option value="Tokelau">Tokelau</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Viet Nam">Viet Nam</option>
                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                            <option value="Virgin Islands, U.s.">Virgin Islands, U.s.</option>
                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                            <option value="Western Sahara">Western Sahara</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </div>

                    <div class="line9"></div>
                    <div class="clearSimple line5"></div>
                    <div class="clearSimple line6"></div>

                    <div class="half0 mobileMargin23">
                        <input class="styled-checkbox-2" type="checkbox" id="WantsReceiptCheckBox" asp-for="WantsReceipt" />
                        <label class="styled-checkbox-label-2" for="WantsReceiptCheckBox">@Localizer["PretendeRecibo"]</label>
                        <div class="clearSimple line4"></div>
                    </div>

                    <div class="clearSimple line5"></div>
                    <div class="recibo">
                        <label asp-for="Address">@Localizer["Morada"]</label>
                        <input asp-for="Address" class="form-control" placeholder="@Localizer["ASuaMorada"].Value" maxlength="256" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                        <div class="clearSimple line4"></div>
                    </div>

                    <div class="recibo half0">
                        <label asp-for="PostalCode">@Localizer["CodigoPostal"]</label>
                        <input asp-for="PostalCode" placeholder="@Localizer["OSeuCodigoPostal"].Value" maxlength="20" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                        <div class="clearSimple line4"></div>
                    </div>

                    <div class="recibo half0">
                        <label asp-for="Nif">@Localizer["Nif"]</label>
                        <input asp-for="Nif" placeholder="@Localizer["OSeuNif"].Value" maxlength="9" />
                        <span asp-validation-for="Nif" class="text-danger"></span>
                        <div class="clearSimple line4"></div>
                    </div>

                    <feature name=@nameof(DevelopingFeatureFlags.SubscriptionDonation)>
                        <div class="mobileMargin23">
                            <input class="styled-checkbox-2" type="checkbox" id="AcceptsSubscriptionCheckBox" asp-for="IsSubscriptionEnabled" onclick="alertSubscription(this)" />
                            <label class="styled-checkbox-label-2" for="AcceptsSubscriptionCheckBox">@Localizer["DonationSubscriptionEnabled"]</label>
                        </div>

                        <div id="divSubscriptionFrequency" class="clearSimple" style="display:none">
                            <select asp-for="SubscriptionFrequencySelected" asp-items="@Model.SubscriptionFrequency" class="banco-alimentar half2">
                            </select>
                            <div class="text-dark"><br><br>@Localizer["DonationSubscriptionConditions"]</div>
                        </div>                        
                        
                    </feature>

                    <div class="clearSimple line6 desktopOnly"></div>

                    <div class="mobileMargin23">
                        <input class="styled-checkbox-2" type="checkbox" id="AcceptsTermsCheckBox" asp-for="AcceptsTerms" />
                        <label class="styled-checkbox-label-2" for="AcceptsTermsCheckBox"><a href="https://www.bancoalimentar.pt/politica-de-privacidade-e-protecao-de-dados/" target="_blank">@Localizer["AceitoAPoliticaDePrivacidadeEDeProteccaoDeDados"]</a></label>
                    </div>

                    <div class="clearSimple line7"></div>

                    @Html.HiddenFor(m => m.Amount, new { @Value = "0" })
                    @Html.HiddenFor(m => m.DonatedItems)

                    @Html.ValidationSummary()


                    <div class="text7"><input type="submit" id="submit" /><span class="text3" onclick="$('#submit').click();"><img src="@Url.Content("~/img/doar-coracao.png")" alt="@Localizer["Doar"]" /><span>@Localizer["EnviarDoacao"]</span></span></div>

                    <div class="clearSimple line8"></div>
                    <feature name=@nameof(DevelopingFeatureFlags.SubscriptionDonation)>
                        @if (Model.CurrentUser == null)
                        {
                            <div id="alertSubscriptionNotLoggedDiv" class="alert alert-danger alert-dismissible" style="display:none">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                @Localizer["SubscriptionAuthentication"]
                            </div>
                        }
                        <div id="alertSubscriptionDiv" class="alert alert-warning alert-dismissible" style="display:none">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            @Localizer["DonationSubscriptionMessage"]
                        </div>
                    </feature>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <environment exclude="Development">
        <script type="text/javascript">
            $(document).ready(function () {
                fbq('track', 'Donate');
            });
        </script>
    </environment>
    @if (Model.CurrentDonationFlow == null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                if (!$('#WantsReceiptCheckBox').is(':checked') || !$('#WantsReceiptCheckBox').is('on')) {
                    $('#Address').attr('data-val', false);
                    $('#PostalCode').attr('data-val', false);
                    $('#Nif').attr('data-val', false);
                    $('#Address').rules("remove", "required")
                    $('#PostalCode').rules("remove", "required")
                    $('#Nif').rules("remove", "required")
                }
            });
        </script>
    }
}

<script type="text/javascript">
    function alertSubscription(elem) {
        if ($(elem).is(":checked")) {
            $('#alertSubscriptionDiv').css("display", "");
        }

        if (alertSubscriptionNotLogged !== undefined) {
            alertSubscriptionNotLogged(elem);
        }

        $("#WantsReceiptCheckBox").click();
    }
</script>

@if (Model.CurrentUser == null)
{
    <script type="text/javascript">
        function alertSubscriptionNotLogged(elem) {
            if ($(elem).is(":checked")) {
                $('#alertSubscriptionNotLoggedDiv').css("display", "");
            }
        }
    </script>
}