@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Pages.PaymentModel
@{
}

@if (Model.PaymentStatusError)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        There was an error processing the payment please try again.
    </div>
}

@if (!string.IsNullOrEmpty(Model.MBWayError))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Model.MBWayError
    </div>
}

<div id="donation-data">
    <div class="stage4">
        <div class="stage4white">
            <div class="">
                <span class="text5">
                    @Localizer["EscolhaOSeuMeioDePagamento"]
                </span>
                <span class="text5">
                    @Model.Donation.DonationAmount.ToString("F2") €
                </span>
                <div class="clearSimple"></div>
            </div>
        </div>

        @if (Model.MultiBankPayment != null)
        {
            <div class="stage4white normalForm col">
                <span class="text5 smallerText5">@Localizer["FacaASuaDoacaoUsandoAReferenciaMultibancoAbaixo"]</span>
                <div class="clearSimple" style="height:40px;"></div>
                <div class="half1 sideBySide">
                    @Localizer["Entidade"]:<br />@Localizer["Referencia"]:<br />@Localizer["Valor"]:<br />
                </div>
                <div class="half2 sideBySide">@Model.Donation.ServiceEntity<br />@Model.Donation.ServiceReference<br />@Model.Donation.DonationAmount.ToString("F2") €</div>
                <div class="clearSimple" style="height:40px;"></div>
            </div>

        }

        <div class="row">
            <div class="pmethod col @(Model.MultiBankPayment == null ? "" : "disabledbutton")">
                <div id="pagamentomb" class="pmethod-container"><span class="pmethod-text">@Localizer["Multibanco"]</span><img class="pmethod-img" src="@Url.Content("~/img/pagamentomb.png")" /></div>
            </div>

            <div class="pmethod col">
                <div id="pagamentounicre" class="pmethod-container"><span class="pmethod-text">@Localizer["CartaoDeCredito"]</span><img class="pmethod-img" src="@Url.Content("~/img/pagamentovisa.png")" /></div>
            </div>

            <div class="pmethod-divider w-100"></div>

            <div class="pmethod col">
                <div id="pagamentopaypal" class="pmethod-container pmethod-3"><span class="pmethod-text">@Localizer["PayPal"]</span><img class="pmethod-img" src="@Url.Content("~/img/pagamentopaypal.png")" /></div>
            </div>

            <div class="pmethod col">
                <div id="pagamentombway" class="pmethod-container pmethod-4"><span class="pmethod-text">MbWay</span><img class="pmethod-img" src="@Url.Content("~/img/pagamentombway.png")" /></div>
            </div>

            <div class="clearSimple"></div>
        </div>

        <div class="stage4white normalForm formPagamento">

            <div class="table2 pay0">
                <span class="text5 smallerText5">@Localizer["FacaASuaDoacaoDeFormaSegura"]</span>
                <div class="clearSimple height40"></div>
            </div>
            <div class="table2 pay1">
                <form asp-page="./Payment" asp-page-handler="PayWithMultibanco" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="donationId" value="@Model.Donation.Id" />
                    <span class="payment-action" onclick="$(this).parent().submit();">
                        <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                        <span>@Localizer["PagarMultibanco"]</span>
                    </span>
                </form>
                <div class="clearSimple height20 borderMe size11"></div>
                <img class="thirdImage" src="@Url.Content("~/img/payment-logos.png")" />
                <div class="clearSimple borderMe"></div>
                <div class="clearSimple height0"></div>

                <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                <div class="clearSimple height40"></div>
            </div>
            <div class="table2 pay2">
                <span class="text5">@Localizer["AgoraTambemJaPodePagarUsandoOSeuCartaoDeCredito"]</span>
                <div class="clearSimple height40 size10"></div>
                <form asp-page="./Payment" asp-page-handler="CreditCard" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="donationId" value="@Model.Donation.Id" />
                    <span class="payment-action" onclick="$(this).parent().submit();">
                        <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                        <span>@Localizer["PagarRedUnicre"]</span>
                    </span>
                </form>
                <div class="clearSimple height20 borderMe size11"></div>
                <img class="thirdImage" src="@Url.Content("~/img/payment-logos.png")" />
                <div class="clearSimple borderMe"></div>
                <div class="clearSimple height0"></div>
                <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                <div class="clearSimple height20"></div>
            </div>
            <div class="table2 pay3">
                <span class="text5">@Localizer["AgoraTambemJaPodePagarUsandoPayPal"]</span>
                <div class="clearSimple height40 size10"></div>
                <form asp-page="./Payment" asp-page-handler="PayPal" method="post" id="frmPayPal">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="serviceReference" value="@Model.Donation.User.Nif|@Model.Donation.ServiceReference" />
                    <input type="hidden" name="serviceAmount" value="@Model.Donation.DonationAmount" />
                    <input type="hidden" name="DonationId" value="@Model.Donation.Id" />
                    <span class="payment-action" onclick="$(this).parent().submit();">
                        <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                        <span>@Localizer["PagarPayPal"]</span>
                    </span>
                </form>

                <div class="clearSimple height70 borderMe size11"></div>
                <div class="clearSimple height0"></div>
                <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                <div class="clearSimple height40"></div>
            </div>
            <div class="table2 pay4">
                <span class="text5">MBway</span>
                <div class="clearSimple height40 size10"></div>
                <form class="payment-form" asp-page="./Payment" asp-page-handler="MbWay" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="DonationId" value="@Model.Donation.Id" />
                    <label asp-for="@Model.PhoneNumber"></label>
                    <div class="input-group mb-3">
                      <span class="input-group-text">+351</span>
                        <input asp-for="@Model.PhoneNumber"  class="form-control" aria-label="Phone Number" />                                           
                    </div>                    
                    <span class="payment-action" onclick="$(this).parent().submit();">
                        <img src="@Url.Content("~/img/doar-coracao.png")" alt="Doar" />
                        <span>MBway</span>
                    </span>
                </form>
                <div class="clearSimple height20 borderMe size11"></div>
                <img class="thirdImage" src="@Url.Content("~/img/payment-logos.png")" />
                <div class="clearSimple borderMe"></div>
                <div class="clearSimple height0"></div>

                <span class="text5 smallerText5">@Localizer["AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao"]</span>
                <div class="clearSimple height40"></div>
            </div>

        </div>
    </div>
</div>