@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.IndexModel
@{
}

<h1>@Localizer["AdministrationWebSite"]</h1>

<p>@Localizer["Intro"]</p>

<ul class="list-unstyled">
    <li class="mb-3">
        <a asp-page="./CancelInvoice">@Localizer["CancelInvoiceLink"]</a>
        <p class="text-muted mb-0">@Localizer["CancelInvoiceDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./Donations/Index">@Localizer["DonationsLink"]</a>
        <p class="text-muted mb-0">@Localizer["DonationsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./SearchEasypay">@Localizer["SearchEasypayLink"]</a>
        <p class="text-muted mb-0">@Localizer["SearchEasypayDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./Subscriptions/Index">@Localizer["SubscriptionsLink"]</a>
        <p class="text-muted mb-0">@Localizer["SubscriptionsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./Errors/Index">@Localizer["ErrorsLink"]</a>
        <p class="text-muted mb-0">@Localizer["ErrorsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./ProductsCatalogues/Index">@Localizer["ProductsCataloguesLink"]</a>
        <p class="text-muted mb-0">@Localizer["ProductsCataloguesDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./Campaigns/Index">@Localizer["CampaignsLink"]</a>
        <p class="text-muted mb-0">@Localizer["CampaignsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./GenerateDonationReport">@Localizer["GenerateReportLink"]</a>
        <p class="text-muted mb-0">@Localizer["GenerateReportDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./Exports/Index">@Localizer["ExportsLink"]</a>
        <p class="text-muted mb-0">@Localizer["ExportsDescription"]</p>
    </li>
    @if (User.IsInRole("SuperAdmin"))
    {
        <li class="mb-3">
            <a asp-page="./SuperAdmin">@Localizer["SuperAdminLink"]</a>
            <p class="text-muted mb-0">@Localizer["SuperAdminDescription"]</p>
        </li>
    }
</ul>
