@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.IndexModel
@{
}

<h1>@Localizer["AdministrationWebSite"]</h1>

<p>@Localizer["Intro"]</p>

<ul class="list-unstyled">
    <li class="mb-3">
        <a asp-page="./Donations/Index">@Localizer["DonationsLink"]</a>
        <p class="text-muted mb-0">@Localizer["DonationsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./FoodBanks/Index">@Localizer["FoodBanksLink"]</a>
        <p class="text-muted mb-0">@Localizer["FoodBanksDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./ProductsCatalogues/Index">@Localizer["ProductsCataloguesLink"]</a>
        <p class="text-muted mb-0">@Localizer["ProductsCataloguesDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./Campaigns/Index">@Localizer["CampaignsLink"]</a>
        <p class="text-muted mb-0">@Localizer["CampaignsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./ReloadSettings">@Localizer["ReloadSettingsLink"]</a>
        <p class="text-muted mb-0">@Localizer["ReloadSettingsDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./GenerateDonationReport">@Localizer["GenerateReportLink"]</a>
        <p class="text-muted mb-0">@Localizer["GenerateReportDescription"]</p>
    </li>
    <li class="mb-3">
        <a asp-page="./ClearTenantStaticCache">@Localizer["ClearCacheLink"]</a>
        <p class="text-muted mb-0">@Localizer["ClearCacheDescription"]</p>
    </li>
</ul>
