@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.Donations.DetailsModel

@{
    ViewData["Title"] = AdminSharedLocalizer["Details"].Value;
}

<h1>@AdminSharedLocalizer["Details"]</h1>

<div>
    <h4>@AdminSharedLocalizer["Donation"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @AdminSharedLocalizer["DonationDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.DonationDate)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["DonationAmount"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.DonationAmount)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["WantsReceipt"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.WantsReceipt)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["ReferralCode"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.ReferralEntity.Name)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["PaymentStatus"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.PaymentStatus)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["ServiceEntity"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.ServiceEntity)
        </dd>
        <dt class="col-sm-2">
            @AdminSharedLocalizer["ServiceReference"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.ServiceReference)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Donation.Id">@AdminSharedLocalizer["Edit"]</a> |
    <a asp-page="./Index">@AdminSharedLocalizer["BackToList"]</a>
</div>
