@model BancoAlimentar.AlimentaEstaIdeia.Model.Donation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublicId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonationAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonationAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WantsReceipt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WantsReceipt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceEntity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCashDonation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCashDonation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CampaignName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CampaignName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfCustomDonation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfCustomDonation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
