<script language="javascript" type="text/javascript">
     $(document).ready(function () {
         $('#condicoes-privacidade').dialog({
             modal: true,
             autoOpen: false,
             height: 381,
             width: 410,
             title: "@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")"
         });
     });
 </script>

<div id="condicoes-privacidade">
    <table border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
        <td width="392" height="44"  bgcolor="#FFFFFF"><table width="392" border="0" cellpadding="0" cellspacing="0">
                                                           <tr>
                                                               <td width="752"><div class="txt">
                                                                                   <p><br />@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade1")
                                                                                   </p>
                                                                                   <p>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade2")</p>
                                                                                   <p>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade3")</p>
                                                                                   <p>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade4")</p>
                                                                                   <p> <strong>• @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "EmailBancoAlimentar"):</strong> <a href="mailto:doaronline@bancoalimentar.pt">doaronline@bancoalimentar.pt</a><br />
                                                                                       <strong>• @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "MoradaBancoAlimentar"):</strong> Estação CP Alcântara Terra, Arz 1 • Av. de Ceuta • 1300-125 <br />
                                                                                       Lisboa. </p>
                                                                               </div></td>
                                                           </tr>
                                                       </table></td>
    </table>
</div>