@model Link.BA.Donate.WebSite.Models.DonateViewModel

<div class="mobileMargin">
    
    
    <div class="stage">
        <div class="column1">
            <span class="text1">Alimente<br />esta ideia</span>
            
            <span class="text2">@HttpContext.GetLocalResourceObject("~/Views/Donation/Error.cshtml", "ErrorMessage")</span>

        </div>

        <img class="mobileOnly imageComida" src="@Url.Content("~/Content/img/comida.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Comida")" />

        <div class="column2">
            
        </div>
        <div class="column3">

            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="stage2">
        <div class="textFoot1"><p><strong>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AlimenteEstaIdeia")</strong></p><p>© 2020</p></div>
        <div class="textFoot2">
            <p><a href="mailto:ba.federacao@bancoalimentar.pt" title="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ContacteNos")">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ContacteNos")</a></p><p><a target="_blank" href="https://www.alimentestaideia.pt/Content/privacidade.pdf" title="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")</a></p><p><a href="https://www.bancoalimentar.pt">Site</a></p><p><a href="https://www.facebook.com/bancoalimentar">Facebook</a></p>
        </div>
        <div class="textFoot3">
            <p style="float:right" class="desktopOnly"><img src="@Url.Content("~/Content/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>
            <p><strong>Federação Portuguesa dos Bancos Alimentares Contra a Fome</strong></p>
            <p>Estação CP Alcântara Terra, Arz 1, Av. de Ceuta</p>
            <p>Desenvolvido por <a href="https://linkconsulting.com">Link Consulting</a> com apoio da <a href="https://microsoft.pt">Microsoft Portugal</a></p>
            <p class="mobileOnly"><img src="@Url.Content("~/Content/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>

        </div>
        <div class="clearSimple"></div>
    </div>
    <div class="clearSimple"></div>
</div>
<div class="clearSimple"></div>