@model Link.BA.Donate.WebSite.Models.DonateViewModel

<div class="mobileMargin">
    @if (ViewBag.HasReference)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                fbq('track', 'Donate');
            });
        </script>

        <!-- start payment module -->
        <div class="modal" style="display:block" id="donation-data">
            <div class="stage4">
                <div class="stage4white">
                    <div class="">
                        <span class="close"><img src="@Url.Content("~/Content/img/X.png")" alt="Fechar" /></span>
                        <span class="text5">
                            @if (!ViewBag.IsMultibanco)
                            {
                                @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "EscolhaOSeuMeioDePagamento");
                            }
                        </span>
                        <div class="clearSimple"></div>
                    </div>
                </div>
                @if (!ViewBag.IsMultibanco)
                {
                    <div class="stage4blue">
                        <div class="table2 tablePagamento">
                            <div class="half1 half1pagamento" id="pagamentomb">
                                <div class="half1">
                                    <input type="radio" id="pagamentomb" name="tipo">
                                    <label for="pagamentomb"><span class="labelTitle">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Multibanco")</span><br /><img class="desktopOnly" src="@Url.Content("~/Content/img/pagamentomb.png")" /></label>
                                </div>
                            </div>
                            <div class="half2 half2pagamento" id="pagamentounicre">
                                <div class="half2">
                                    <input type="radio" id="pagamentounicre" name="tipo">
                                    <label for="pagamentounicre"><span class="labelTitle">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "CartaoDeCredito")</span><br /><img class="desktopOnly" src="@Url.Content("~/Content/img/pagamentovisa.png")" /></label>
                                </div>
                            </div>
                            <div class="clearSimple"></div>
                        </div>
                    </div>
                    <div class="stage4blue">
                        <div class="table2 tablePagamento">
                            <div class="half1 half1pagamento" id="pagamentopaypal">
                                <div class="half1">
                                    <input type="radio" id="pagamentopaypal" name="tipo">
                                    <label for="pagamentopaypal"><span class="labelTitle">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PayPal")</span><br /><img class="desktopOnly" src="@Url.Content("~/Content/img/pagamentopaypal.png")" /></label>
                                </div>
                            </div>
                            @*<div class="half2 half2pagamento" id="pagamentombway">
                                    <div class="half2">
                                        <input type="radio" id="pagamentombway" name="tipo">
                                        <label for="pagamentombway"><span class="labelTitle">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "MBWay")</span><br /><img class="desktopOnly" src="@Url.Content("~/Content/img/pagamentombway.png")" /></label>
                                    </div>
                                </div>*@
                            <div class="clearSimple"></div>
                        </div>
                    </div>
                }
                <div class="stage4white normalForm formPagamento">
                    @if (ViewBag.IsMultibanco)
                    {
                        <span class="text5 smallerText5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "FacaASuaDoacaoUsandoAReferenciaMultibancoAbaixo")<br />* @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "EstaReferenciaTambemFoiEnviadaParaOSeuEmail")</span>
                        <div class="clearSimple" style="height:40px;"></div>
                        <div class="half1 sideBySide">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Entidade"):<br />@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Referencia"):<br />@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Valor"):<br />
                        </div>
                        <div class="half2 sideBySide">@ViewBag.ServiceEntity<br />@ViewBag.ServiceReference<br />@ViewBag.ServiceAmount €</div>
                        <div class="clearSimple" style="height:40px;"></div>
                    }
                    else
                    {
                        <div class="table2 pay0">
                            <span class="text5 smallerText5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "FacaASuaDoacaoDeFormaSegura")</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay1">
                            @using (Html.BeginForm("PayWithMultibanco", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="serviceEntity" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceEntity)" />
                                <input type="hidden" name="serviceReference" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceReference)" />
                                <input type="hidden" name="serviceAmount" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceAmount)" />
                                <span class="text3" onclick="$(this).parent().submit();">
                                    <img src="@Url.Content("~/Content/img/doar-coracao.png")" alt="Doar" />
                                    <span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PagarMultibanco")</span>
                                </span>
                            }
                            <span class="text5 smallerText5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao")</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay2">
                            <span class="text5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AgoraTambemJaPodePagarUsandoOSeuCartaoDeCredito")</span>
                            <div class="clearSimple height40 size10"></div>
                            @using (Html.BeginForm("PayWithUnicre", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="serviceReference" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).NIF)|@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceReference)" />
                                <input type="hidden" name="serviceAmount" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceAmount)" />
                                <span class="text3" onclick="$(this).parent().submit();">
                                    <img src="@Url.Content("~/Content/img/doar-coracao.png")" alt="Doar" />
                                    <span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PagarRedUnicre")</span>
                                </span>
                            }
                            <div class="clearSimple height70 borderMe size11"></div>
                            <img class="thirdImage" src="@Url.Content("~/Content/img/logo2.png")" />
                            <img class="thirdImage" src="@Url.Content("~/Content/img/logo1.png")" />
                            <img class="thirdImage" src="@Url.Content("~/Content/img/logo3.png")" />
                            <div class="clearSimple borderMe"></div>
                            <div class="clearSimple height0"></div>
                            <span class="text5 smallerText5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao")</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay3">
                            <span class="text5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AgoraTambemJaPodePagarUsandoPayPal")</span>
                            <div class="clearSimple height40 size10"></div>
                            @using (Html.BeginForm("PayWithPayPal", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="serviceReference" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).NIF)|@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceReference)" />
                                <input type="hidden" name="serviceAmount" value="@(((Link.BA.Donate.Models.DonationEntity)ViewBag.DonationEntity[0]).ServiceAmount)" />
                                <span class="text3" onclick="$(this).parent().submit();">
                                    <img src="@Url.Content("~/Content/img/doar-coracao.png")" alt="Doar" />
                                    <span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PagarPayPal")</span>
                                </span>
                            }
                            <div class="clearSimple height70 borderMe size11"></div>
                            <div class="clearSimple height0"></div>
                            <span class="text5 smallerText5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AssimQueForRecebidoOSeuPagamentoSeraEnviadoParaOSeuEmailOReciboDaDoacao")</span>
                            <div class="clearSimple height40"></div>
                        </div>
                        <div class="table2 pay4">

                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- end payment module -->
    }

    <div class="modal" id="donation-form">
        <div class="stage3">
            @using (Html.BeginForm("Donate", "Donation", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="stage3white">
                    <span class="close"><img src="@Url.Content("~/Content/img/X.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Fechar")" /></span>
                    <span class="text5">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "EscolhaOsBensQueQuerDoar")</span>
                    <div class="table2">

                        <div class="boxed">
                            <div class="image"><img src="@Url.Content("~/Content/img/azeite_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")" /></div>
                            <div class="text">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")</div>
                            <div class="input">
                                <input type="text" id="field1" name="azeite" class="" value="0" data-value="@ViewBag.ProductCatalogue[0].Cost" data-quantity="@ViewBag.ProductCatalogue[0].Quantity" data-target="update1" readonly />
                                <span class="more"></span>
                                <span class="less"></span>
                            </div>
                        </div>

                        <div class="boxed">
                            <div class="image"><img src="@Url.Content("~/Content/img/oleo_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")" /></div>
                            <div class="text">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")</div>
                            <div class="input">
                                <input type="text" id="field2" name="oleo" class="" value="0" data-value="@ViewBag.ProductCatalogue[1].Cost" data-quantity="@ViewBag.ProductCatalogue[1].Quantity" data-target="update2" readonly />
                                <span class="more"></span>
                                <span class="less"></span>
                            </div>
                        </div>

                        <div class="boxed">
                            <div class="image"><img src="@Url.Content("~/Content/img/leite_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")" /></div>
                            <div class="text">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")</div>
                            <div class="input">
                                <input type="text" id="field3" name="leite" class="" value="0" data-value="@ViewBag.ProductCatalogue[2].Cost" data-quantity="@ViewBag.ProductCatalogue[2].Quantity" data-target="update3" readonly />
                                <span class="more"></span>
                                <span class="less"></span>
                            </div>
                        </div>

                        <div class="boxed">
                            <div class="image"><img src="@Url.Content("~/Content/img/atum_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")" /></div>
                            <div class="text">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")</div>
                            <div class="input">
                                <input type="text" id="field4" name="atum" class="" value="0" data-value="@ViewBag.ProductCatalogue[3].Cost" data-quantity="@ViewBag.ProductCatalogue[3].Quantity" data-target="update4" readonly />
                                <span class="more"></span>
                                <span class="less"></span>
                            </div>
                        </div>

                        <div class="boxed">
                            <div class="image"><img src="@Url.Content("~/Content/img/salsichas_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")" /></div>
                            <div class="text">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")</div>
                            <div class="input">
                                <input type="text" id="field5" name="salsichas" class="" value="0" data-value="@ViewBag.ProductCatalogue[4].Cost" data-quantity="@ViewBag.ProductCatalogue[4].Quantity" data-target="update5" readonly />
                                <span class="more"></span>
                                <span class="less"></span>
                            </div>
                        </div>

                        <div class="boxed">
                            <div class="image"><img src="@Url.Content("~/Content/img/acucar_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")" /></div>
                            <div class="text">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")</div>
                            <div class="input">
                                <input type="text" id="field6" name="acucar" class="" value="0" data-value="@ViewBag.ProductCatalogue[5].Cost" data-quantity="@ViewBag.ProductCatalogue[5].Quantity" data-target="update6" readonly />
                                <span class="more"></span>
                                <span class="less"></span>
                            </div>
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>








                <div class="stage3blue stepOne">
                    <div class="half1 margin1 fixMobile101">
                        <img src="@Url.Content("~/Content/img/basket.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Cesto")" />
                    </div>
                    <div class="half2 margin2 fixMobile101">
                        <span class="text7">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Total")</span>
                        <span class="text8">0.00€</span>
                        <div class="clearSimple"></div>
                        <span class="text9">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "VerCabaz")</span>
                    </div>
                    <div class="clearSimple"></div>
                </div>

                <div class="stage3blue stepTwo">
                    <span class="close2"><img src="@Url.Content("~/Content/img/X-w.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Fechar")" /></span>
                    <div class="half1 margin1">
                        <img src="@Url.Content("~/Content/img/basket.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Cesto")" />
                    </div>
                    <div class="half2 margin2">
                        <span class="text7">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "DescricaoDoCabaz")</span>
                        <div class="clear"></div>

                        <div class="half3">
                            <img src="@Url.Content("~/Content/img/azeite_w.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")" /><h2 id="update1" class="update1">0</h2> <span class="fixMe">@ViewBag.ProductCatalogue[0].UnitOfMeasure</span>
                            <div class="clearSimple"></div>
                            <img src="@Url.Content("~/Content/img/oleo_w.png")" alt="@Url.Content("~/Content/img/oleo_b.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")" /><h2 id="update2" class="update2">0</h2> <span class="fixMe">@ViewBag.ProductCatalogue[1].UnitOfMeasure</span>
                            <div class="clearSimple"></div>
                            <img src="@Url.Content("~/Content/img/leite_w.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")" /><h2 id="update3" class="update3">0</h2> <span class="fixMe">@ViewBag.ProductCatalogue[2].UnitOfMeasure</span>
                            <div class="clearSimple"></div>
                        </div>
                        <div class="half4">
                            <img src="@Url.Content("~/Content/img/atum_w.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")" /><h2 id="update4" class="update4">0</h2> <span class="fixMe">@ViewBag.ProductCatalogue[3].UnitOfMeasure</span>
                            <div class="clearSimple"></div>
                            <img src="@Url.Content("~/Content/img/salsichas_w.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")" /><h2 id="update5" class="update5">0</h2> <span class="fixMe">@ViewBag.ProductCatalogue[4].UnitOfMeasure</span>
                            <div class="clearSimple"></div>
                            <img src="@Url.Content("~/Content/img/acucar_w.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")" /><h2 id="update6" class="update6">0</h2> <span class="fixMe">@ViewBag.ProductCatalogue[5].UnitOfMeasure</span>
                            <div class="clearSimple"></div>
                        </div>


                    </div>
                    <div class="clearSimple"></div>
                </div>



                <div class="stage3white normalForm">
                    <div class="table2">
                        <div class="clearSimple line0"></div>
                        <div class="half1 mobileMargin22" style="text-align:left;">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "EscolhaOBancoAlimentarParaOQualQuerDoar")
                        </div>
                        <div class="half2">
                            @Html.DropDownListFor(m => m.FoodBankId, new SelectList(ViewBag.FoodBanks, "FoodBankId", "Name"), new Dictionary<string, object> { { "class", "banco-alimentar" } })
                        </div>
                        <div class="clearSimple line0"></div>
                    </div>
                </div>

                <div class="clearSimple"></div>




                <div class="stage3white normalForm">
                    <div class="table2">
                        <span class="text6">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PreenchaOsSeusDados")</span>
                        <div class="clearSimple line1"></div>

                        <div class="half1">
                            @Html.RadioButton("Empresa", "true", true, new { @Name = "Company" })
                            <label for="Empresa">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Empresa")</label>
                        </div>
                        <div class="half2">
                            @Html.RadioButton("Particular", "false", false, new { @Name = "Company" })
                            <label for="Particular">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Particular")</label>
                        </div>
                        <div class="clearSimple line2"></div>

                        <div class="half0" readonly>
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Nome")
                            @Html.TextBoxFor(m => m.Name, new { MAXLENGTH = 256, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "OSeuNome") })
                        </div>
                        <div class="half2">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Empresa")
                            @Html.TextBoxFor(m => m.CompanyName, new { MAXLENGTH = 256, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ASuaEmpresa") })
                        </div>
                        <div class="clearSimple line3"></div>

                        @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Email")
                        @Html.TextBoxFor(m => m.Email, new { MAXLENGTH = 128, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "OSeuEmail") })
                        <div class="clearSimple line4"></div>

                        <div class="half0">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Pais")
                            @Html.TextBoxFor(m => m.Country, new { MAXLENGTH = 256, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "OSeuPais") })
                        </div>

                        <div class="line9"></div>
                        <div class="half2">
                            @CaptchaMVC.HtmlHelpers.CaptchaHelper.Captcha(Html, 6)
                        </div>
                        <div class="clearSimple line5"></div>

                        <div class="clearSimple line6"></div>

                        <div class="half0 mobileMargin23">
                            <input class="styled-checkbox-2" type="checkbox" id="WantsReceiptCheckBox" name="recibo" value="sim">
                            <label class="styled-checkbox-label-2" for="WantsReceiptCheckBox">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PretendeRecibo")</label>
                            @Html.HiddenFor(m => m.WantsReceipt)
                            <div class="clearSimple line4"></div>
                        </div>

                        <div class="clearSimple line5"></div>

                        <div class="recibo">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Morada")
                            @Html.TextBoxFor(m => m.Address, new { MAXLENGTH = 256, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ASuaMorada") })
                            <div class="clearSimple line4"></div>
                        </div>

                        <div class="recibo half0">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "CodigoPostal")
                            @Html.TextBoxFor(m => m.PostalCode, new { MAXLENGTH = 20, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "OSeuCodigoPostal") })
                            <div class="clearSimple line4"></div>
                        </div>

                        <div class="recibo half0">
                            @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Nif")
                            @Html.TextBoxFor(m => m.Nif, new { MAXLENGTH = 9, placeholder = @HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "OSeuNif") })
                            <div class="clearSimple line4"></div>
                        </div>

                        <div class="clearSimple line6 desktopOnly"></div>

                        <div class="mobileMargin23">
                            <input class="styled-checkbox-2" type="checkbox" id="AcceptsTermsCheckBox" name="rgpd" value="sim">
                            <label class="styled-checkbox-label-2" for="AcceptsTermsCheckBox">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AceitoAPoliticaDePrivacidadeEDeProteccaoDeDados")</label>
                            @Html.HiddenFor(m => m.AcceptsTerms)
                        </div>
                        <div class="clearSimple line7"></div>

                        @Html.HiddenFor(m => m.Amount, new { @Value = "0" })
                        @Html.HiddenFor(m => m.DonatedItems)

                        @Html.ValidationSummary()

                        <div class="text7"><input type="submit" id="submit" /><span class="text3" onclick="$('#submit').click();"><img src="@Url.Content("~/Content/img/doar-coracao.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Doar")" /><span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "EnviarDoacao")</span></span></div>

                        <div class="clearSimple line8"></div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="language mobileOnly">
        <div class="languageSelector">
            <span class="activeLanguage">PT</span>
            <span class="arrowDown"></span>
            <span class="arrowListing">
                <span class="line"></span>
                <a href="#">EN</a>
                <a href="#">ES</a>
                <a href="#">FR</a>
            </span>
        </div>
    </div>


    <div class="stage">
        <div class="column1">
            <span class="text1">Alimente<br />esta ideia</span>
            <span class="text2">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ASuaContribuicaoFazTodaADiferencaAjudeQuemMaisPrecisa")</span>
            <span class="text3" id="donation-button"><img src="@Url.Content("~/Content/img/doar-coracao.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Doar")" /><span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Doar")</span></span>
        </div>

        <img class="mobileOnly imageComida" src="@Url.Content("~/Content/img/comida.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Comida")" />

        <div class="column2">

        </div>
        <div class="column3">

            <div class="language desktopOnly">
                <!-- language menu start -->
                <div class="languageSelector">
                    <span class="activeLanguage">@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToUpper()</span>
                    <span class="arrowDown"></span>
                    <span class="arrowListing">
                        <span class="line"></span>
                        <a href="@Url.Action("ChangeCulture", new { lang = "pt", returnUrl = Request.RawUrl })">PT</a>
                        <a href="@Url.Action("ChangeCulture", new { lang = "en", returnUrl = Request.RawUrl })">EN</a>
                        <a href="@Url.Action("ChangeCulture", new { lang = "es", returnUrl = Request.RawUrl })">ES</a>
                        <a href="@Url.Action("ChangeCulture", new { lang = "fr", returnUrl = Request.RawUrl })">FR</a>
                    </span>
                </div>
                <!-- language menu end -->
            </div>
            <div class="clear"></div>

            <p class="text4">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AlimentosJaDoados")</p>
            <div class="table">
                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/azeite.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[0].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[0].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/oleo.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[1].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[1].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/leite.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[2].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[2].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/atum.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[3].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[3].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/salsichas.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[4].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[4].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/acucar.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[5].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[5].UnitOfMeasure</small></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
        <div class="stage2">
            <div class="textFoot1"><p><strong>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AlimenteEstaIdeia")</strong></p><p>© 2020</p></div>
            <div class="textFoot2">
                <p><a href="mailto:ba.federacao@bancoalimentar.pt" title="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ContacteNos")">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ContacteNos")</a></p><p><a target="_blank" href="https://www.alimentestaideia.pt/Content/privacidade.pdf" title="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")</a></p><p><a href="https://www.bancoalimentar.pt">Site</a></p><p><a href="https://www.facebook.com/bancoalimentar">Facebook</a></p>
            </div>
            <div class="textFoot3">
                <p style="float:right" class="desktopOnly"><img src="@Url.Content("~/Content/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>
                <p><strong>Federação Portuguesa dos Bancos Alimentares Contra a Fome</strong></p>
                <p>Estação CP Alcântara Terra, Arz 1, Av. de Ceuta</p>
                <p>Desenvolvido por <a href="https://linkconsulting.com">Link Consulting</a> com apoio da <a href="https://microsoft.pt">Microsoft Portugal</a></p>
                <p class="mobileOnly"><img src="@Url.Content("~/Content/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>

            </div>
            <div class="clearSimple"></div>
        </div>
        <div class="clearSimple"></div>
    </div>
<div class="clearSimple"></div>

@if (!ViewData.ModelState.IsValid)
{
    <script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#donation-data').show();

        var products = $('#DonatedItems').val().split(';');
        for (var i = 0; i < products.length; i++) {
            var p = products[i].split(':');

            var thisQuantity = parseFloat(p[1] * $('#field' + p[0]).attr('data-quantity'));
            var thisValue = parseFloat(p[1] * $('#field' + p[0]).attr('data-value'));

            $('#update' + p[0]).text(thisQuantity);
            $('#field' + p[0]).val(p[1]);

            if (p[1] > 0) {
                var total = parseFloat($('#Amount').val());
                var newTotal = total + thisValue;
                $('.text8').html(formatCoin(newTotal));
                $('#Amount').val(newTotal);

                $('#field' + p[0]).addClass('positive');
            }
        }

        @if ("true".Equals(ViewData.ModelState["WantsReceipt"].Value.AttemptedValue))
        {
            <text>
        $('#WantsReceiptCheckBox').click();
        $('#Address').val('@ViewData.ModelState["Address"].Value.AttemptedValue');
        $('#PostalCode').val('@ViewData.ModelState["PostalCode"].Value.AttemptedValue');
        $('#Nif').val('@ViewData.ModelState["Nif"].Value.AttemptedValue');
        </text>
        }
    });
    </script>
}
