@model Link.BA.Donate.WebSite.Models.DonateViewModel

<div class="mobileMargin">


    <div class="stage">
        <div class="column1">
            <span class="text1">Alimente<br />esta ideia</span>
            <span class="text2">@HttpContext.GetLocalResourceObject("~/Views/Donation/obrigado.cshtml", "Obrigado1")<br />@HttpContext.GetLocalResourceObject("~/Views/Donation/obrigado.cshtml", "Obrigado2")</span>
            <a href="/"><span class="text3"><img src="@Url.Content("~/Content/img/doar-coracao.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Doar")" /><span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Doar")</span></span></a>
        </div>

        <img class="mobileOnly imageComida" src="@Url.Content("~/Content/img/comida.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Comida")" />

        <div class="column2">

        </div>
        <div class="column3">

            <div class="language desktopOnly">
                <!-- language menu start -->
                <div class="languageSelector">
                    <span class="activeLanguage">@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName.ToUpper()</span>
                    <span class="arrowDown"></span>
                    <span class="arrowListing">
                        <span class="line"></span>
                        <a href="@Url.Action("ChangeCulture", new { lang = "pt", returnUrl = Request.RawUrl })">PT</a>
                        <a href="@Url.Action("ChangeCulture", new { lang = "en", returnUrl = Request.RawUrl })">EN</a>
                        <a href="@Url.Action("ChangeCulture", new { lang = "es", returnUrl = Request.RawUrl })">ES</a>
                        <a href="@Url.Action("ChangeCulture", new { lang = "fr", returnUrl = Request.RawUrl })">FR</a>
                    </span>
                </div>
                <!-- language menu end -->
            </div>
            <div class="clear"></div>

            <p class="text4">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AlimentosJaDoados")</p>
            <div class="table">
                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/azeite.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Azeite")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[0].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[0].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/oleo.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Oleo")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[1].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[1].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/leite.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Leite")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[2].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[2].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/atum.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Atum")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[3].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[3].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/salsichas.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Salsichas")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[4].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[4].UnitOfMeasure</small></div>
                <div class="clear"></div>

                <div class="leftColumn"><span class="imageContainer"><img src="@Url.Content("~/Content/img/acucar.png")" alt="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")" /></span>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "Açucar")</div>
                <div class="rightColumn">@ViewBag.TotalDonations[5].Total.ToString("00000")<small>@ViewBag.ProductCatalogue[5].UnitOfMeasure</small></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="stage2">
        <div class="textFoot1"><p><strong>@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "AlimenteEstaIdeia")</strong></p><p>© 2020</p></div>
        <div class="textFoot2">
            <p><a href="mailto:ba.federacao@bancoalimentar.pt" title="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ContacteNos")">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "ContacteNos")</a></p><p><a target="_blank" href="https://www.bancoalimentar.pt/politica-de-privacidade-e-protecao-de-dados/" title="@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")">@HttpContext.GetLocalResourceObject("~/Views/Donation/Index.cshtml", "PoliticaDePrivacidade")</a></p><p><a href="https://www.bancoalimentar.pt">Site</a></p><p><a href="https://www.facebook.com/bancoalimentar">Facebook</a></p>
        </div>
        <div class="textFoot3">
            <p style="float:right" class="desktopOnly"><img src="@Url.Content("~/Content/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>
            <p><strong>Federação Portuguesa dos Bancos Alimentares Contra a Fome</strong></p>
            <p>Estação CP Alcântara Terra, Arz 1, Av. de Ceuta</p>
            <p>Desenvolvido por <a href="https://linkconsulting.com">Link Consulting</a> com apoio da <a href="https://microsoft.pt">Microsoft Portugal</a></p>
            <p class="mobileOnly"><img src="@Url.Content("~/Content/img/saco-banco-alimentar.png")" alt="saco banco alimentar" /></p>

        </div>
        <div class="clearSimple"></div>
    </div>
    <div class="clearSimple"></div>
</div>
<div class="clearSimple"></div>