@page
@model BancoAlimentar.AlimentaEstaIdeia.Web.Areas.Admin.Pages.FoodBanks.DeleteModel

@{
    ViewData["Title"] = AdminSharedLocalizer["Delete"].Value;
}

<h1>@AdminSharedLocalizer["Delete"]</h1>

<h3>@AdminSharedLocalizer["DeleteConfirmation"]</h3>
<div>
    <h4>@AdminSharedLocalizer["FoodBank"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @AdminSharedLocalizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodBank.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FoodBank.Id" />
        <input type="submit" value="@AdminSharedLocalizer["Delete"].Value" class="btn btn-danger" /> |
        <a asp-page="./Index">@AdminSharedLocalizer["BackToList"]</a>
    </form>
</div>
